body {
  background-color: rgb(238, 240, 255);
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.navbar {
  margin-top: -200px;
  height: 50px;
  min-width: max-content;
  justify-content: space-between;
  background: white;
  display: flex;
  align-items: center;
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
}
.image {
  border: 3px solid;
  height: fit-content;
  margin-left: 40px;
}
.imageone {
  height: 30px;
}
.listone {
  margin-left: 150px;
}
.listtwo {
  margin-left: 250px;
  margin-right: 50px;
}
.navlist {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 55px;
  font-size: 17px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.hero {
  display: flex;
  margin-top: 200px;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: center;
  gap: 200px;
}
.heading {
  font-size: 65px;
  font-weight: 600;
  font-family: "Trebuchet MS";
  text-align: left;
  width: 100rem;
}

.disc {
  margin-left: -100px;
}
#paraone {
  font-size: 20px;
  text-align: justify;
}
#buttonone {
  background-color: rgb(26, 79, 244);
  place-content: center;
  width: 350px;
  height: 60px;
  color: white;
  font-size: 20px;
  font-family: "Trebuchet MS";
  margin-top: 50px;
}
#buttonone:hover {
  background-color: rgb(8, 59, 212);
}
.homepage {
  margin-left: 300px;
  margin-right: 300px;
}
#homepageone {
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: grid;
  place-items: center;
  font-weight: 700;
  text-align: center;
}
#homepagetwo {
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: grid;
  place-items: center;
  font-weight: 300;
  text-align: center;
}
.videosection {
  display: flex;
}
.weblist {
  margin-left: 70px;
}

#listthree {
  /* list-style-image: url("../public/images/bluetick.png"); */
  list-style-type: disc;
  font-size: 20px;
  line-height: 50px;
  margin-left: -20px;
}
#website {
  font-size: 20px;
  font-weight: 700;
  color: rgb(33, 86, 250);
}
#blue {
  background-color: rgb(1, 3, 52);
  height: 250px;
  color: white;
  display: grid;
  place-content: center;
  text-align: center;
  gap: 20px;
}
#buttontwo {
  background-color: rgb(26, 79, 244);
  place-content: center;
  width: 250px;
  height: 60px;
  color: white;
  font-size: 15px;
  font-family: "Trebuchet MS";
  font-weight: 700;
}
#buttontwo:hover {
  background-color: rgb(8, 59, 212);
}
.shop {
  display: flex;
}
.shoptext {
  background-color: white;
  width: 50%;
  align-items: center;
  padding: 100px;
  font-size: 25px;
}
#shoppara {
  font-size: 20px;
}
#man {
  width: 50%;
}
#listfour {
  line-height: 30px;
  font-size: 20px;
}
#buttonthree {
  background-color: rgb(26, 79, 244);
  place-content: center;
  width: 250px;
  height: 60px;
  color: white;
  font-size: 15px;
  font-family: "Trebuchet MS";
  font-weight: 700;
}
#buttonthree:hover {
  background-color: rgb(8, 59, 212);
}
#shopend {
  font-size: 20px;
  font-weight: 700;
  color: rgb(33, 86, 250);
}
#egparaone {
  font-size: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#egparatwo {
  font-size: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#egparathree {
  font-size: 60px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#egparafour {
  font-size: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.button4 {
  justify-content: center;
  align-items: center;
  text-align: center;
}
#buttonfour {
  background-color: rgb(26, 79, 244);
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 250px;
  height: 60px;
  color: white;
  font-size: 15px;
  font-family: "Trebuchet MS";
  font-weight: 700;
}
#buttonthree:hover {
  background-color: rgb(8, 59, 212);
}
.egimage {
  display: flex;
}
#egparafive {
  font-size: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.eglogo {
  display: flex;
}
.button5 {
  justify-content: center;
  align-items: center;
  text-align: center;
}
#buttonfive {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 250px;
  height: 60px;
  color: rgb(8, 59, 212);
  border: 2px solid rgb(8, 59, 212);
  font-size: 15px;
  font-family: "Trebuchet MS";
  font-weight: 700;
  margin-top: 20px;
}
#buttonfive:hover {
  background-color: rgb(8, 59, 212);
  color: white;
}
.matze {
  display: flex;
  background-color: white;
}
.man2 {
  width: 25%;
  margin: 50px;
}

.indi {
  margin: 50px;
  background: rgb(238, 240, 255);
  display: grid;
  place-content: center;
  align-items: center;
}
#indipendent {
  font-size: 40px;
  margin-left: 80px;
  margin-right: 100px;
}

#passionate {
  font-size: 20px;
  margin-left: 80px;
  margin-right: 100px;
}
.footerend2 {
  background-color: white;
}

.listbox {
  display: flex;
  padding-top: 30px;
  padding-bottom: 70px;
  background: rgb(238, 240, 255);
  justify-content:left;
  gap: 100px;
}
ul {
  font-size: 17px;
  list-style: none;
  line-height: 40px;
  font-weight: 500;
}
li:hover{
  color:rgb(8, 59, 212);
  cursor: pointer; 
}
.lastfooter{
  display: flex;
  gap: 100px;
}
.logotwo{
  display: grid;
}

#logoimage2{
  height: 40px;
  border: 3px solid;
  margin-top: 40px;
  margin-left: 40px;
  
}
.logoimage3{
  height: 40px;
  margin-top: 200px;
 margin-left: 100px;
}
.lastlastfooter{
  background-color:rgb(238, 240, 255);
  justify-content: space-between;
  height: 150px;
  display: flex;
}
#terms{
  font-size: 17px;
  list-style: none;
  line-height: 40px;
  font-weight: 500;
  display: flex;
  gap: 30px;
}
#Language{
  background-color: rgb(238, 240, 255);
  color: black;
  border: none;
  height: fit-content;
  font-weight: 500;
  font-size: 20px;
}
.dropbtn{
  background: none;
  border: none;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;

}
.dropdown{
  position: relative;
  display: inline-block;
  
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px gray;
  z-index: 1;
}
.dropdown-content a{
  color: black;
  display: block;
  padding: 12px 16px;

}
.dropdown-content a:hover{
  background-color: white;
}
.dropdown:hover .dropdown-content{
display: block;
}
.dropdown:hover .dropbtn{
  background-color: aqua;

}




.dropbtn2{
  background: none;
  border: none;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;

}
.dropdown2{
  position: relative;
  display: inline-block;
  
}
.dropdown-content2{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px gray;
  z-index: 1;
}
.dropdown-content2 a{
  color: black;
  display: block;
  padding: 12px 16px;

}
.dropdown-content2 a:hover{
  background-color: white;
}
.dropdown2:hover .dropdown-content2{
display: block;
}
.dropdown2:hover .dropbtn2{
  background-color: aqua;
  
}

